
@{
    ViewBag.Title = "Confirm";
}

@{
    MovieBookingApp.Models.Booking show = ViewBag.bookedShow;
    <h1>
        show.MovieId
    </h1>
    <h1>
        show.ShowTimeID
    </h1>
    <h1>
        show.NumberOfSeats
    </h1>
    <h1>
        show.UserName
    </h1>
    <h1>
        show.UserEmail
    </h1>
}

